@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 200, 245, 230;
  --background-start-rgb: 224, 239, 240;
  --background-end-rgb: 155, 215, 245;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(
      to middle,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
